body {
  background: #F2F2F2;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar{display:none;}
.mb24 {
  margin-bottom: 24px;
}

.df {
  display: flex;
}
.a-c{
  align-items: center;
}
.j-c {
  justify-content: center;
}